<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">





<body>

<div class="container">
    <div class="row well">
        <div class="span10 offset1">
            <div class="row">

                <div class="span5">
                    <strong th:text="${salam}">Error Displayed Here</strong>
                    <h3>Welcome to Todolist MVC</h3>
                    <p>
                    <h4>Todolist MVC is a web-based task manager which allows you to:</h4>
                    <ul>
                        <li>Save and organize your todo list</li>
                        <li>Search easily your todo list</li>
                        <li>Sort and filter your todo list</li>
                        <li>Export and report your todo list</li>
                    </ul>
                    <h4>And which is totally Free! Enjoy !</h4>
                    <p>
                        <a class="btn btn-primary btn-large" href="/login" th:href="@{/login}"> Sign in </a> or <a
                            class="btn btn-primary btn-large" href="/register" th:href="@{/register}"> Sign up </a>
                    </p>
                </div>
                <div class="span5">
                    <img src="../static/img/todolist.jpg" th:src="@{/static/img/todolist.jpg}" alt="todolist">
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>