<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="component/header.html :: header"><title>Header Here FAKE</title></head>
<body>
<div th:replace="component/navigationmenu.html :: navbar"></div>
<div class="container">

    <div class="card my-4 mx-auto" style="width: 23rem;">
        <div class="card-body">
            <h5 class="card-title" th:text="${employee.firstName}">Welcome Mr :</h5>
            <p class="card-text" th:text="${employee.email}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <form method="post" class="m-5" action="/employee/profile" th:action="@{/employee/profile}">


                <div th:text="${error}"  th:if="${error}" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="form-group">
                    <input type="hidden" th:value="${employee.email}"  name="email" class="form-control">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmakil1">password</label>
                    <input type="password" name="password"  class="form-control" id="examplheInputEmakkil1" aria-describedby="emailHelp">

                </div>

                <div class="form-group">
                    <label for="exampleInputEmakil1">confirm password</label>
                    <input type="password" name="confirmPassword" class="form-control" id="exampleInputEmakil1" aria-describedby="emailHelp">
                </div>


                <button type="submit" class="btn btn-primary" >Submit</button>
            </form>
        </div>
    </div>

</div>


<footer th:replace="component/footer.html :: footer">Footer Here FAKE</footer>

</body>
</html>