<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="common/header.html :: header"><title>Header Here FAKE</title></head>
<body>
<div th:replace="common/navigationbar.html :: navbar"></div>
<div class="container">

    <div class="row">
        <div class="span6 offset3">
            <div class="page-header">
                <h1>Sign up</h1>
            </div>

            <form class="well form-horizontal" method="post" action="/register.do" th:action="@{/register.do}">

                <div th:replace="common/error.html :: error"></div>

                <fieldset>

                    <div class="control-group">
                        <label class="control-label" for="name">Name:</label>
                        <div class="controls">
                            <input id="name" name="name" type="text" class="input-medium" placeholder="Name" required="required"/>
                            <p class="help-block alert-error" th:text="${errorName}" th:unless="${errorName} == null">
                                Error For Name</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="email">Email:</label>
                        <div class="controls">
                            <input id="email" name="email" type="email" class="input-medium"
                                   placeholder="your@email.com" required="required"/>
                            <p class="help-block alert-error" th:text="${errorEmail}" th:unless="${errorEmail} == null">
                                Error For Email</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="password">Password:</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" class="input-medium"
                                   placeholder="min 6 characters" required="required"/>
                            <p class="help-block alert-error" th:text="${errorPassword}"
                               th:unless="${errorPassword} == null">Error For Password</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="confirmationPassword">Confirmation password:</label>
                        <div class="controls">
                            <input type="password" id="confirmationPassword" name="confirmationPassword"
                                   class="input-medium" placeholder="min 6 characters" required="required"/>
                            <p class="help-block alert-error" th:text="${errorConfirmationPassword}" th:unless="${errorConfirmationPassword} == null">Error For Password</p>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><i class="icon-lock icon-white"></i> Sign up
                        </button>
                    </div>

                    <div align="center">
                        You have already an account? <a href="/login" th:href="@{/login}">Sign in here</a>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
</div>

<footer th:replace="common/footer.html :: footer">Footer Here FAKE</footer>

</body>
</html>